importation des bibliotheques necessaires

In [2]:

import pandas as pd

chargement du fichier "online_retail.csv'  et comprehension  du data frame 
info : information sur le data_frame
decribe: decription de la dataframe
isnull rechercher la somme des valeur maquant

In [3]:
base='..\\data\\brute\\Online_Retail.csv'
data_frame = pd.read_csv(base)
data_frame.info()
data_frame.describe()
data_frame.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

supprimer les lignes qui non pas  des CustomerID (identifiant client)  et afficher l'information 
supprimer les doublons

In [4]:
data_frame=data_frame.dropna(subset=['CustomerID'])
data_frame=data_frame.drop_duplicates()
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

separer les commandes annullées et les  commandes vendues
Quantite inferieur à 0['Quantity'])<0 : commande annulée
Quantite superieur à 0  ['Quantity'])>0:commande livrée

In [9]:
commande_vendue=data_frame[(data_frame['Quantity'])>0]
commande_annule=data_frame[(data_frame['Quantity'])<0]

commande_vendue.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [10]:
commande_annule.describe()

           Quantity     UnitPrice    CustomerID
count   8905.000000   8905.000000   8905.000000
mean     -30.859966     18.845519  14991.667266
std     1170.154939    444.366043   1706.772357
min   -80995.000000      0.010000  12346.000000
25%       -6.000000      1.450000  13510.000000
50%       -2.000000      2.950000  14895.000000
75%       -1.000000      4.950000  16393.000000
max       -1.000000  38970.000000  18282.000000

cree un nouveaux dataframe pour l'analyse de ventes

In [11]:
commande_vendue.to_csv('..\\data\\nettoyer\\Online_Retail_a_analyser.csv',index=False)